@model IEnumerable<ToDoSite.Domain.Entities.Task>


@{
    ViewBag.Title = "Index";
}


<div class="todosBlock">
    <div class="todosBlockHeader">
        <div class="completeCheckBlock">
            <button id="checkAll">
                <span class="checkAllSpan leftHalf"></span>
                <span class="checkAllSpan rightHalf"></span>
            </button>
        </div>
        @using (Ajax.BeginForm("CreateNewTask", "Task", new AjaxOptions { }, new { id = "createNewTaskForm", defaultButton = "enter" }))
        {
            <input type="text" name="toDoText" id="toDoInput" placeholder="What needs to be done?">
        }

    </div>
    <div class="todosBlockBody">
        @{Html.RenderPartial("PartialTaskList", Model);}
    </div>
    <div class="navBlock">
        <div class="countOfTasksContainer">
            <span id="countOfTasks">@Model.Count()</span>
            <p> items left.</p>
        </div>
        <ul id="filters">

        </ul>
        @Html.ActionLink("Delete completed", "DeleteCompletedTask", "Task", null, new { @class = "deleteCompletedTask" })
    </div>
</div>

<div class="todosBlockBottom">

    <span class="secondPage"></span>
    <span class="thirdPage"></span>
</div>

