@model IEnumerable<ToDoSite.Domain.Entities.Task>


@{
    ViewBag.Title = "Index";
}


<div class="todosBlockHeader">
    <div class="completeCheckBlock">
        <input type="checkbox" id="checkboxAll">
    </div>
    @using (Ajax.BeginForm("CreateNewTask", "Task", new AjaxOptions { }, new { id = "createNewTaskForm", defaultButton = "enter" }))
    {
        <input type="text" name="toDoText" id="toDoInput" placeholder="What needs to be done?">
    }

</div>
<div class="todosBlockBody">
    @{Html.RenderPartial("PartialTaskList", Model);}
</div>

