@model IEnumerable<ToDoSite.Domain.Entities.Task>


<ul>
    @try
    {
        foreach (var item in Model)
        {
            <li class="itemTask" id=@item.Id>
                <div class="completeCheckBlock">
                    <input type="checkbox" class="completeCheck" checked=@item.IsComplete>
                    <label for="checkbox" class="completeCheckLabel"></label>
                </div>
                <p class="taskName">@item.Name</p>

                @using (Html.BeginForm("DeleteTask", "Task", FormMethod.Post, new { @class = "deleteTaskForm" }))
                {
                    <input type="hidden" name="id" value=@item.Id />
                    <input type="submit" name="deleteTask" class="deleteTaskButton" value="X" />
                }

                <input type="text" value=@item.Name class="editTaskName" />
            </li>
        }
    }
    catch (NullReferenceException) { }
</ul>